@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dancingScript: var(--font-dancing-script-data), cursive;
  --font-playfairDisplay: var(--font-playfair-display-data), sans-serif;
  --font-lato: var(--font-lato-data), system-ui, sans-serif;
}

body {
  margin: 0;
  min-height: 100svh;
}

span {
  cursor: text;
}

span.active {
  box-shadow: inset 0 -3px 0 #0a6bf9;
}
